.increment-btn {
    background-color: #09ad0f;
    color: white;
    border: none;
    border-radius: 20%;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.increment-btn:hover {
    background-color: #06780f;
}